{% extends "househunt/base.html" %}
{% block content %}
<br>

    <h3 style="color:white; margin-left: 10vh; margin-top: 40px;font-size:40px; padding:50px;">Website Developers</h3>
    <text style="color:white; font-size:30px;padding:60px;margin-left: 20vh; margin-top: 90vh;">Website: Wen Shiuan</text><br><br>
    <text style="color:white; font-size:30px;padding: 60px;margin-left: 20vh; margin-top: 80px;">Visualisation + calc formula: Zheng Xian</text><br><br>
    <text style="color:white; font-size:30px;padding: 60px;margin-left: 20vh; margin-top: 80px;">Google Maps API + calc formula + estimation model: Benjamin</text><br><br>

{% endblock content %}
