{% extends "househunt/base.html" %}

{% block content %}

<h1 style="margin-top:15%; color:white; width:100vh;">Calculate maximum affordable price</h1>
<br><br>
<!--<form action="result/" method="POST">-->
<form action="" method="POST" style="color:white; font-size: 20px; display:inline-block; width:100vh; padding:10px;">
    {% csrf_token %}

    <!-- Enter monthly Income: <input type="text" name="num1" placeholder="enter monthly income"><br><br>
    Enter savings: <input type="text" name="num2"><br><br>   
    Enter CPF Balance: <input type="text" name="num3"><br><br> -->
    {{ form.as_p }}

    <input type="submit" style = "margin-top:10%">
</form>

{% endblock %}
