{% extends "househunt/base.html" %}

{% block content %}

<h1 style="color:white; margin-left: 10vh; margin-top: 80px;">Calculate maximum affordable price</h1>
<br><br>
<form action="result/" method="POST" style = "margin-top:70px; margin-left: 80vh; color:white; padding: 10px; font-size: 25px;">
    {% csrf_token %}

    <!-- Enter monthly Income: <input type="text" name="num1" placeholder="enter monthly income"><br><br>
    Enter savings: <input type="text" name="num2"><br><br>   
    Enter CPF Balance: <input type="text" name="num3"><br><br> -->
    {{ form.as_p }}

    <input type="submit" style="margin-top:30px;">
</form>

{% endblock %}
