{% extends "househunt/base.html" %}

{% block content %}

<h1>Calculate maximum affordable price</h1>
<br><br>
<!--<form action="result/" method="POST">-->
<form action="" method="POST">
    {% csrf_token %}

    <!-- Enter monthly Income: <input type="text" name="num1" placeholder="enter monthly income"><br><br>
    Enter savings: <input type="text" name="num2"><br><br>   
    Enter CPF Balance: <input type="text" name="num3"><br><br> -->
    {{ form.as_p }}

    <input type="submit">
</form>

{% endblock %}
