{% extends "househunt/base.html" %}
{% block additional_styles %}
<style>
   body {
    background: white;
	margin-top: 15vh;
	margin-left:30%;
   }
</style>
{% endblock %}
{% block content %}

<script type="text/javascript">
var town = "{{town}}";
var streetName = "{{streetName}}";
var blockNo = "{{blockNo}}";

//var x = "Yishun" + "," + "Yishun Ave 11";
//var x = town + "," + streetName;
var x = town + "," + blockNo + " " + streetName;

var requestlink ="https://maps.googleapis.com/maps/api/streetview?size=600x600&location=" + x + "&key=AIzaSyAT5ls2tvRCs9x0p4aVd7984HNocfpAOXE";

var y = document.createElement("IMG");
y.setAttribute("src",requestlink);
y.setAttribute("alt", "MapImage")
document.body.appendChild(y);

</script>
{% endblock %}
