{% extends "househunt/base.html" %}
{% block content %}

    <br>
    <h1 style="margin-top:13%; color:white; width:100vh;">Visualisations</h1>
    <br>
    {% load static %}

    <a href="{% url 'househunt-visualise-town' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-blue" style = "margin-top:5%; font-size:25px;">Resale price by town</a>

    <br>
    <br>
    <a href="{% url 'househunt-visualise-flat-type' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-blue" style = "margin-top:2%; font-size:25px;">Resale price by flat type</a>

    <br>
    <br>
    <a href="{% url 'househunt-visualise-year' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-blue" style = "margin-top:2%; font-size:25px;">Resale price by year of sale</a>

    <br>
    <br>

    
{% endblock content %}
