{% extends "househunt/base.html" %}
{% block content %}

    <br>
    <h1 style="margin-top:10%; color:white; width:100vh; margin-left:-25%;">Resale Flat Prices for each Flat Type</h1>
    <br>
    {% load static %}
    <!-- <br><br> -->
    <img src="{% static 'flat_type.png' %}" style = "margin-top:3%;margin-left:-25%;">
    <br><br>
    <a href="{% url 'househunt-visualise' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-blue" style ="margin: auto">Return</a>

	<!-- <a href="{% url 'househunt-visualise' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-blue" style = "margin-left:1%">Return</a> -->

    
{% endblock content %}
